<script id="tmpl-Dropdown" type="text/html">
	<div class="Dropdown" style="left:{{left}}px;top:{{top}}px;{{#if width}}width:{{width}}px{{/if}}">
		<div class="Dropdown-main">
		</div>
	</div>
</script>
<script id="tmpl-Dropdown-item" type="text/html">
	<div class="item" data-name="{{name}}">
  	<div class="item-content">
		{{label}}
  	</div>
	</div>
</script>
