<script id="tmpl-DropboxScreen" type="text/html">
  <div class="container dropboxscreen">
	  <div class="alert alert-info loading">
	  	loading...
	  </div>
		<div class="tabbable">
	 		<ul class="nav nav-tabs">
	 			<li class="active" data-nav="accountInfo"><a href="#" data-toggle="tab">Account Info</a></li>
	   		<li data-nav="files"><a href="#" data-toggle="tab">Files</a></li>
	 		</ul>
			<div class="tab-content">
				<div class="alert alert-info">
					Tring to load data,Please wait... 
				</div>
      </div>
 	 	</div>
	</div>
</script>