<script id="tmpl-DropboxDialog" type="text/html">
 <div class="dropbox dropfiles">
	  <div class="dialogBackground">
		</div>
		<div class="dialogContent">
			<div class="dialogHead">
				<span class="dialogTitle">{{data.displayName}}</span>
				<span class="close dialogBtns dialogCloseBtn">&times;</span>
			</div>
			<div class="dialogBody" data-path="{{data.path}}">
				{{#equal data.type "folder"}}
				<input type="text" name="folder" class="input-block-level"  placeholder="folder name"/>
				<div class="dialogBtns">
					<button class="btn btn-primary save">Save</button>
					<button class="btn btn-primary cancel">Cancel</button>
			 </div>
			 {{else}}
			 {{#equal data.type "upload"}}
			 <input type="file" name="file" placeholder="folder name"/>
				<div class="dialogBtns">
					<button class="btn btn-primary upload">Upload</button>
					<button class="btn btn-primary cancel">Cancel</button>
			 </div>
			 {{else}}
			 {{#equal data.type "sharelink"}}
			 <input type="text" name="sharelink" class="input-block-level" value="{{data.sharelink}}"/>
			 {{else}}
			  	{{#equal data.type "restore"}}
				 	{{#each data.revisions}}
				 	<div class="revitem">
				 		<input type="radio" name="revision" value="{{rev}}" data-path="{{path}}"/>
				 		<img class="sprite_web s_web_{{icon}}_32 pointer space" src="https://www.dropbox.com/static/images/icons/icon_spacer.gif"/>
				 		{{filename path}}revision:{{revision}}
				 		<span>
					 		{{#if is_deleted}}
					 		Deleted
					 		{{else}}
					 		Added
					 		{{/if}}
					 		--{{localDate modified}}
				 		</span>
				 	</div>
				 	{{/each}}
				 	<div class="dialogBtns">
						<button class="btn btn-primary restore">Restore</button>
						<button class="btn btn-primary cancel">Cancel</button>
				 </div>
			 	 {{else}}
					 {{#equal data.type "copy"}}
					 <div class="itemDiv">
					 	<div class="folderitem" data-path="/">
					 		<img src="https://dt8kf6553cww8.cloudfront.net/static/images/icons/icon_spacer-vflN3BYt2.gif" 
							alt="" class="sprite sprite_web s_web_dropbox space link-img"/>
					 		<span class="foldername">dropbox</span>
					 	</div>
					 </div>
					 	{{#each data.metadata.contents}}
							{{#if is_dir}}
							<div class="itemDiv">
								<div class="folderitem" data-path="{{path}}">
									<img src="https://dt8kf6553cww8.cloudfront.net/static/images/icons/icon_spacer-vflN3BYt2.gif" 
									alt="" border="0" class="sprite sprite_web  s_web_bullet_plus pointer ">
									<img src="https://dt8kf6553cww8.cloudfront.net/static/images/icons/icon_spacer-vflN3BYt2.gif" 
									alt="" class="sprite sprite_web  s_web_folder link-img"/>
									
									<span class="foldername">{{filename path}}</span>
								</div>
							</div>
							{{/if}}
						{{/each}}
					 	<div class="dialogBtns">
							<button class="btn btn-primary copy">Copy</button>
							<button class="btn btn-primary cancel">Cancel</button>
				 		</div>
				 		{{else}}
				 			 {{#equal data.type "move"}}
					 <div class="itemDiv">
					 	<div class="folderitem" data-path="/">
					 		<img src="https://dt8kf6553cww8.cloudfront.net/static/images/icons/icon_spacer-vflN3BYt2.gif" 
							alt="" class="sprite sprite_web s_web_dropbox space link-img"/>
					 		<span class="foldername">dropbox</span>
					 	</div>
					 </div>
					 	{{#each data.metadata.contents}}
							{{#if is_dir}}
							<div class="itemDiv">
								<div class="folderitem" data-path="{{path}}">
									<img src="https://dt8kf6553cww8.cloudfront.net/static/images/icons/icon_spacer-vflN3BYt2.gif" 
									alt="" border="0" class="sprite sprite_web  s_web_bullet_plus pointer ">
									<img src="https://dt8kf6553cww8.cloudfront.net/static/images/icons/icon_spacer-vflN3BYt2.gif" 
									alt="" class="sprite sprite_web  s_web_folder link-img"/>
									
									<span class="foldername">{{filename path}}</span>
								</div>
							</div>
							{{/if}}
						{{/each}}
					 	<div class="dialogBtns">
							<button class="btn btn-primary move">Move</button>
							<button class="btn btn-primary cancel">Cancel</button>
				 		</div>
				 		{{/equal}}
					 {{/equal}}
				 {{/equal}}
			 {{/equal}}
			 {{/equal}}
			 {{/equal}}
			</div>
		</div>
	</div>
</script>

<script id="tmpl-DropboxSubFolder" type="text/html">
	<div class="subfolder itemDiv">
		{{#each data.metadata.contents}}
			{{#if is_dir}}
			<div class="folderitem" data-path="{{path}}">
			<img src="https://dt8kf6553cww8.cloudfront.net/static/images/icons/icon_spacer-vflN3BYt2.gif" 
			alt="" border="0" class="sprite sprite_web  s_web_bullet_plus pointer ">
			<img src="https://dt8kf6553cww8.cloudfront.net/static/images/icons/icon_spacer-vflN3BYt2.gif" 
			alt="" class="sprite sprite_web  s_web_folder link-img"/>
			
			<span class="foldername">{{filename path}}</span>
			</div>
			{{/if}}
		{{/each}}
	</div>
</script>