<script id="tmpl-FacebookPhotos" type="text/html">
<div class="FacebookPhotos">
<table class="table table-striped">
			<tr>
				<td colspan="2">
					<div class="well form-search">
					 <div class="control-group">
					    <label>Choose photo to upload:</label>
					    <div class="controls">
					      <input name="file" type="file" class="input-block-level fileInput" placeholder="Upload file"/>
					    </div>
					  </div>
						<div class="control-group">
					    <label>Message:</label>
					    <div class="controls">
					   	  <textarea rows="4" name="msg" class="msgInput"   placeholder="input message"></textarea>
					    </div>
					  </div>
					<div>
						<button type="submit" class="btn postBtn btn-primary">Post Photo</button>
					</div>
				</td>
			</tr>
		</table>


	  <div class="Posts-tableListContain">
	  <table class="table table-striped">
	        <tbody class="listItem">
	        </tbody>
	      </table>
	    </div>
	    
</div>
</script>