<script id="tmpl-FacebookScreen" type="text/html">
<div class="container">
		<div class="tabbable">
	 		<ul class="nav nav-tabs">
	 			<li class="active menu" data-nav="friend"><a href="#">Friends</a></li>
        <li class="menu" data-nav="contact"><a href="#">Contacts</a></li>
        <li class="menu" data-nav="feed"><a href="#">Feeds</a></li>
        <li class="menu" data-nav="photo"><a href="#">Photo</a></li>
        <li class="menu" data-nav="note"><a href="#">Note</a></li>
        <li class="menu" data-nav="event"><a href="#">Event</a></li>
	 		</ul>
			<div class="FacebookScreen-content">
				<div class="alert alert-info">
					Tring to load data,Please wait... 
				</div>
      </div>
	  </div>
	   <div class="result modal hide ">
  <div class="modal-body">
  <div class="alert alert-success">
  	Operation success!
	</div>
	  </div>
	</div> 
	</div>
</script>