<script id="tmpl-FacebookEvents" type="text/html">
<div class="FacebookEvents">
<table class="table table-striped">
			<tr>
				<td colspan="2">
					<div class="well form-search ">
					
					<div class="control-group">
    <label>Name:</label>
    <div class="controls">
      <input type="text" name="name" class="input-block-level nameInput"   placeholder="input name"/>
    </div>
  </div>
  <div class="control-group">
    <label>Start time:</label>
    <div class="controls">
      <input type="text" name="start_time" class="input-block-level timeInput"   placeholder="2013-2-1"/>
    </div>
  </div>
					
					</div>
					<div>
						<button type="submit" class="btn postBtn btn-primary">Post Event</button>
					</div>
				</td>
			</tr>
		</table>


	  <div class="Posts-tableListContain">
	  <table class="table table-striped">
	        <tbody class="listItem">
	        </tbody>
	      </table>
	    </div>
	    
	 
	    
</div>
</script>