<script id="tmpl-FacebookNotes" type="text/html">
<div class="FacebookNotes">
<table class="table table-striped">
			<tr>
				<td colspan="2">
					<div class="well form-search">
					
						<div class="control-group">
					    <label>Subject:</label>
					    <div class="controls">
					      <input type="text" name="subject" class="input-block-level subjectInput"   placeholder="input subject"/>
					    </div>
					  </div>
					  <div class="control-group">
					    <label>Message:</label>
					    <div class="controls">
					    	<textarea rows="4" name="msg" class="msgInput"   placeholder="input message"></textarea>
					    </div>
					  </div>
						
					<div>
						<button type="submit" class="btn postBtn btn-primary">Post Note</button>
					</div>
				</td>
			</tr>
		</table>


	  <div class="Posts-tableListContain">
	  <table class="table table-striped">
	        <tbody class="listItem">
	        </tbody>
	      </table>
	    </div>
	    
</div>
</script>