<script id="tmpl-FacebookFeeds" type="text/html">
<div class="FacebookFeeds">
<div class="form-search" >
  <textarea rows="3" class="post" placeholder="Enter new message"></textarea>
  <button type="submit" class="btn postBtn btn-primary">Post Message</button>
</div>
	  <div class="Posts-tableListContain">
	  <table class="table table-striped">
	        <tbody class="listItem">
	        </tbody>
	      </table>
	    </div>
	    
	    
</div>
</script>

<script id="tmpl-FacebookFeeds-detail" type="text/html">
<table class="table  table-striped">
		<tr>
			<td>Name</td>
			<td>{{finamerstName}}</td>
		</tr>
	</table>
</script>