<script id="tmpl-FoursquareScreen" type="text/html">
  <div class="FoursquareScreen">
    <div class="FoursquareScreen-top">
      <ul class="nav nav-tabs">
        <li class="active menu" data-nav="userInfo"><a href="#">User Infomation</a></li>
        <li class="menu" data-nav="userFriends"><a href="#">User Friends</a></li>
        <li class="menu" data-nav="venuesCategories"><a href="#">Venues Categories</a></li>
        <li class="menu" data-nav="usersBadges"><a href="#">Users Badges</a></li>
        <li class="menu" data-nav="search"><a href="#">Search<i class="icon-chevron-down"></i></a></li>
      </ul>
    </div>
    <div class="FoursquareScreen-content">
      
    </div>
  </div>
</script>