<script id="tmpl-GithubDialog" type="text/html">
  <div class="github">
	  <div class="dialogBackground">
		</div>
		<div class="dialogContent" style="left:{{data.layout.left}};top:{{data.layout.top}};width:{{data.layout.width}};height:{{data.layout.height}}">
			<div class="dialogHead">
				<span class="dialogTitle">{{data.title}}</span>
				<span class="download"><a href="{{data.archiveLink}}">download Repository</a></span>
				<span class="close dialogBtns dialogCloseBtn">&times;</span>
			</div>
			<div class="dialogBody">
				{{#equal data.type "showRepoDetails"}}
				<div id="filecontent" style="height:100%;">
					<div class="files" data-repo="{{data.repo}}">
						{{#each data.files}}
							{{#equal type "dir"}}
							<div>
								<span data-path="{{path}}" data-type="{{type}}" class="filename">
								  <i class="icon-folder-close fileitem"></i><a href="javascript:void(0)">{{name}}</a>
								  <i class="download icon-download"></i>
								</span>
							</div>
							{{else}}
							<div>
								<span data-path="{{path}}" data-type="{{type}}" class="filename">
									<i class="icon-file fileitem"></i><a href="javascript:void(0)">{{name}}</a>
								</span>
							</div>
							{{/equal}}
						{{/each}}
					</div>
					{{#notEqual data.readme.content ""}}
 					<span>readme.md</span>
 					<div><pre>{{data.readme.content}}</pre></div>
 					{{/notEqual}}				
				</div>
			 {{else}}
				 {{#equal data.type "createDownload"}}
				 <div>
				 	<div class="downloaditems" data-repo="{{data.repo}}">
				 		{{#each data.downloads}}
				 			<div class="downloaditem">
				 				<a href="{{htmlUrl}}">{{name}}</a>
				 				<span>{{downloadCount}}</span>
				 				<a href="javascript:void(0)" class="delete" data-repoId="{{id}}">Delete</a>
				 			</div>
				 		{{/each}}
				 	</div>	
						<input type="file" name="download" data-repo="{{data.repo}}"/>
						<div class="dialogBtns">
							<button class="btn btn-primary createdownloadbtn">Create</button>
						</div>
				 </div>
				 {{/equal}}
			 {{/equal}}
			</div>
		</div>
	</div>
</script>

<script id="tmpl-GithubFiles" type="text/html">
	{{#if data.isDir}}
	<div class="files" data-repo="{{data.repo}}">
		{{#each data.files}}
			{{#equal type "dir"}}
			<div>
				<span data-path="{{path}}" data-type="{{type}}" class="filename">
				  <i class="icon-folder-close fileitem"></i><a href="javascript:void(0)">{{name}}</a>
				</span>
			</div>
			{{else}}
			<div>
				<span data-path="{{path}}" data-type="{{type}}" class="filename">
					<i class="icon-file fileitem"></i><a href="javascript:void(0)">{{name}}</a>
				</span>
			</div>
			{{/equal}}
		{{/each}}
	</div>
	{{#notEqual data.readme.content ""}}
	 <span>readme.md</span>
	 <div><pre>{{data.readme.content}}</pre></div>
	{{/notEqual}}	
	{{else}}
	<span>{{data.filename}}</span>
	<div class="code"><pre>{{data.file.content}}</pre></div>
	{{/if}}	
</script>
<script id="tmpl-GithubDownloads" type="text/html">
	{{#each data.downloads}}
	<div class="downloaditem">
		<a href="{{htmlUrl}}">{{name}}</a>
		<span>{{downloadCount}}</span>
		<a href="javascript:void(0)" class="delete" data-repoId="{{id}}">Delete</a>
	</div>
	{{/each}}
</script>