<script id="tmpl-GithubRepositoryEdit" type="text/html">
  <div class="github">
	  <div class="dialogBackground">
		</div>
		<div class="dialogContent" style="left:{{layout.left}};top:{{layout.top}};width:{{layout.width}};height:{{layout.height}}">
			<div class="dialogHead">
				<span class="dialogTitle">Edit repository</span>
				<span class="close dialogBtns dialogCloseBtn">&times;</span>
			</div>
			<div class="dialogBody" data-repository-id="{{id}}" data-login="{{login}}">
				<input type="text" name="repositoryName" value="{{name}}" class="input-block-level" disabled placeholder="type the repository name"/>
				<input type="text" name="description" value="{{description}}" class="input-block-level" placeholder="description for the repository"/>
				<div class="dialogBtns">
					<img class="githubloading hide save" src="https://a248.e.akamai.net/assets.github.com/images/spinners/octocat-spinner-32.gif"/>
					<button class="btn btn-primary save">Save</button>
					<button class="btn btn-primary cancel">Cancel</button>
			 </div>
			</div>
		</div>
	</div>
</script>