<script id="tmpl-GithubCommits" type="text/html">
  <div class="container githubCommits">
		<table class="table" data-name="{{name}}" data-login="{{login}}">
			<thead>
				<tr class="header">
					<th colspan="2">
						Commits History for {{name}}
					</th>
				</tr>
			</thead>
			<tbody>
				{{#each commits}}
				<tr data-sha="{{sha}}">
					<td class="message">
						<div><span class="messageTitle">{{commit.message}}</span></div>
						<div class="author">{{commit.committer.name}}&nbsp;authored&nbsp;{{date commit.committer.date}}</div>
					</td>
					<td class="sha">
						<span>{{sha}}</span>
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</script>