<script id="tmpl-GithubScreen" type="text/html">
  <div class="container">
		<div class="tabbable">
	 		<ul class="nav nav-tabs">
	 			<li class="active" data-nav="UserInformation"><a href="#" data-toggle="tab">User Information</a></li>
	   		<li data-nav="Repositories"><a href="#" data-toggle="tab">Repositories</a></li>
	   		<li data-nav="Search"><a href="#" data-toggle="tab">Search</a></li>
	 		</ul>
			<div class="tab-content">
				<div class="alert alert-info">
					Tring to load data,Please wait... 
				</div>
      </div>
	  </div>
	</div>
</script>