<script id="tmpl-GoogleScreen" type="text/html">
  <div class="GoogleScreen">
    <div class="GoogleScreen-top">
      <ul class="nav nav-tabs">
        <li class="menu" data-nav="contacts"><a href="#">Contacts</a></li>
        <li class="active menu" data-nav="mails"><a href="#">Mails</a></li>
        <li class="menu" data-nav="groups"><a href="#">Groups</a></li>
        <li class="menu" data-nav="folders"><a href="#">Folders</a></li>
        <li class="menu" data-nav="actions"><a href="#">Actions<i class="icon-chevron-down"></i></a></li>
      </ul>
    </div>
    <div class="GoogleScreen-content">
      
    </div>
  </div>
</script>