<script id="tmpl-InputValue" type="text/html">
    <div class="InputValue">
		<div class='InputValueDialogGlass' />
	    <div class="InputValue-content">
	        <h2>{{title}}</h2>
	        <div class="form">
                {{#each fields }}
		        <div class="control-group">
		  		<label>{{label}}:</label><input type="text"  name="{{name}}"  placeholder="input value"><span class="help-inline" ></span>
		  		<br/>
		  		</div>
                {{/each}}
		  		<div>
		    		<a href="#" class="btn btn-primary inputValueBtn">OK</a>
		    		<a href="#" class="btn cancelBtn">Close</a>
		  		</div>
	        </div>
	    </div>
    </div>
</script>