<script id="tmpl-LinkedInScreen" type="text/html">
  <div class="LinkedInScreen">
    <div class="LinkedInScreen-top">
      <ul class="nav nav-tabs">
        <li class="active menu" data-nav="connections"><a href="#">Connections</a></li>
        <li class="menu" data-nav="search"><a href="#">Search<i class="icon-chevron-down"></i></a></li>
        <!--<li class="menu" data-nav="jobs"><a href="#">Jobs</a></li>-->
        <!--<li class="menu" data-nav="companys"><a href="#">Companys</a></li>-->
      </ul>
    </div>
    <div class="LinkedInScreen-content">
      
    </div>
  </div>
</script>