<script id="tmpl-LiveUserInfo" type="text/html">
	<div class="container LiveUserInfo">
		<table class="table table-striped">
			<tr>
				<td>Email</td>
				<td>{{emails.account}}</td>
			</tr>
            <tr>
				<td>User Name:</td>
				<td>{{last_name}}.{{first_name}}</td>
			</tr>
            <tr>
				<td>Link:</td>
				<td>{{link}}</td>
			</tr>
            <td>Gender:</td>
                <td>{{gender}}</td>
            </tr>
		</table>
	</div>
</script>