<script id="tmpl-LiveScreen" type="text/html">
  <div class="LiveScreen">
    <div class="LiveScreen-top">
      <ul class="nav nav-tabs">
        <li class="active menu" data-nav="userInfo"><a href="#">User Infomation</a></li>
      </ul>
    </div>
    <div class="LiveScreen-content">
      
    </div>
  </div>
</script>