<script id="tmpl-Top" type="text/html">
	<div class="Top">
		<div class="navbar  navbar-inverse navbar-fixed-top">
		  <div class="navbar-inner">
		    <a class="brand" href="#">sampleSocial</a>
		    <ul class="nav">
		      <li data-nav="facebook" class="menu">Facebook</li>
		      <li data-nav="google" class="menu">Google</li>
		      <li data-nav="linkedIn" class="menu">LinkedIn</li>
		      <li data-nav="salesforce" class="menu">SalesForce</li>
		      <li data-nav="twitter" class="menu">Twitter</li>
		      <li data-nav="github" class="menu">Github</li>
		      <li data-nav="dropbox" class="menu">Dropbox</li>
		      <li data-nav="foursquare" class="menu">Foursquare</li>
		      <li data-nav="live" class="menu">Live</li>
		      <li data-nav="oauth" class="menu">OAuth<i class="icon-chevron-down"></i></li>
		    </ul>
		  </div>
		</div>
	</div>
</script>